@keyframes blink {
  0%, 49% {
    opacity: 1;
  }
  50%, 100% {
    opacity: 0;
  }
}

@keyframes typingSteps {
  0% { width: 0; }
  10% { width: 2.5%; }
  15% { width: 5%; }
  20% { width: 7.5%; }
  26% { width: 10%; }
  32% { width: 12.5%; }
  37% { width: 15%; }
  41% { width: 17.5%; }
  45% { width: 20%; }
  49% { width: 22.5%; }
  53% { width: 25%; }
  57% { width: 27.5%; }
  61% { width: 30%; }
  64% { width: 32.5%; }
  67% { width: 35%; }
  70% { width: 37.5%; }
  73% { width: 40%; }
  76% { width: 42.5%; }
  79% { width: 45%; }
  81% { width: 47.5%; }
  83% { width: 50%; }
  85% { width: 52.5%; }
  87% { width: 55%; }
  89% { width: 57.5%; }
  91% { width: 60%; }
  92% { width: 62.5%; }
  93% { width: 65%; }
  94% { width: 67.5%; }
  95% { width: 70%; }
  96% { width: 72.5%; }
  97% { width: 75%; }
  98% { width: 77.5%; }
  99% { width: 80%; }
  100% { width: 100%; }
}

.typing-container {
  animation: typingSteps 0.6s ease-out forwards;
}

.cursor-block {
  display: inline-block;
  width: 0.6em;
  height: 0.9em;
  margin-left: 0.1em;
  background-color: currentColor;
  animation: blink 1s infinite;
}
