@keyframes blink {
  0%, 49% {
    opacity: 1;
  }
  50%, 100% {
    opacity: 0;
  }
}

.cursor-block {
  display: inline-block;
  width: 0.6em;
  height: 0.9em;
  margin-left: 0.1em;
  background-color: currentColor;
  animation: blink 1s infinite;
}
